html {
  font-size: 18px;
  font-family: Helvetica;
}

header {
  display: flex;
  justify-content: center;
  background-color: black;
  height: auto;
  width: 100%;
}

header h1 {
  padding-top: 0.66rem;
  padding-bottom: 0.66rem;
}

h1, h2, h3, a {
  color: white;

}

main {
  display: flex;
  justify-content: center;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/moto.jpeg);
  height: 25rem;
  background-size: cover;

}

menu, footer {
  background-color: firebrick;
}

menu {
  display: flex;
  justify-content: center;
}

menu h2 {
  display: none;
}

menu a {
  text-decoration: none;
  padding: 0.75rem 0;
}


.inner-container {
  display: flex;
  align-items: center;
  width: 960px;
}

.banner {
  background-color: black;
  width: 20rem;
}

.logo img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.banner h2 {
  font-size: 1rem;
  padding-top: 2rem;
  padding-left: 3rem;
}

.banner h1 {
  font-size: 2rem;
  font-weight: bold;
  padding-top: 0.25rem;
  padding-left: 3rem;
  padding-bottom: 2rem;

}

#menu nav {
  width: 960px;
  display: flex;
  justify-content: space-between;
}
